# Node js
node_modules/ 
dist/ 
npm-debug.log 
yarn-error.log 
pnpm-lock.yaml

# Env
.env
.env*

# OS and IDE
.DS_Store 
.vscode/ 
.idea/ 
*.suo 
.ntvs*.njsproj 
*.sln 
*.swp

# TS
*.tsbuildinfo

# Logs
logs/ 
*.log 
.log.
